@import "login";
@import "signup";
@import "forgot_password";
@import "resend_confirmation";
@import "food";
@import "add_new_food";
@import "recipes";
@import "public_recipes";

a {
  text-decoration: none;
  color: black;
}

body {
  margin-left: 200px;
  margin-right: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #ccc;
}
