@import "login";
@import "signup";
@import "forgot_password";
@import "resend_confirmation";
@import "food";
@import "add_new_food";

a {
  text-decoration: none;
  color: black;
}

body {
  margin-left: 200px;
  margin-right: 200px;
}
