header {
  margin: 50px auto 80px;
}

.nav nav {
  margin: 0 auto;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  position: relative;
}

.nav ul ul {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  width: 150px;
}

.nav ul li:hover > ul {
  display: block;
}

.nav ul ul li a {
  background: lightblue;
}

.nav ul li a {
  padding: 10px 20px;
}